header a,
h1,
h2,
.footer-logo {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

header a,
h1,
.fa-bars {
  color: #276d57;
}

.logo-text,
.quick-facts h2 {
  font-family: "Lora", Verdana, Geneva, Tahoma, serif;
  font-style: italic;
  color: #376b82;
}

p,
.footer-menu,
body,
button {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
}

header li {
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  display: inline-flex;
}

nav {
  display: none;
  position: fixed;
  left: 0px;
  width: 100%;
}

nav ul {
  background-color: #e0ede6;
  width: 100%;
}

nav li {
  display: inline-flex;
  padding: 15px;
  background-color: #e0ede6;
}
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: flex;
}

.logo-text {
  display: none;
}

body {
  margin: 0;
  background-color: #f5fcf8;
}

header {
  background-color: #e0ede6;
}

main {
  padding-top: 20px;
  padding-bottom: 200px;
}

.fa-bars {
  font-size: 2em;
  grid-column: 3;
}
.hamburger {
  justify-self: end;
  padding: 10px;
  align-self: center;
}
.logo {
  align-self: center;
  grid-column: 2;
  justify-self: center;
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

/* Links */

button {
  background-color: #c8310f;
  border: none;
  padding: 5px 12px;
  margin-top: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

/* Home page */

/* Footer */

footer {
  background-color: #276d57;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  color: #e0ede6;
  align-items: center;
  padding: 10px;
  justify-content: center;
  margin: 50px auto;
  display: inline-flex;
}

.footer-logo {
  padding: 20px;
  font-weight: 700;
}

.footer-content a {
  color: #e0ede6;
  text-decoration: none;
}

.footer-menu li {
  list-style: none;
}

.follow {
  display: flex;
}

.socials li {
  list-style: none;
  margin: 0 4px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Blog archive */

.blogarchive {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.blogarchive h1,
.aboutpage h1 {
  padding-left: 40px;
}

.blogarchive h2 {
  text-decoration: none;
  color: #276d57;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
}

.blogarchive a {
  text-decoration: none;
}

.blog {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 300px;
  margin: 10px;
  background-color: #fff;
}

.card p {
  color: #343434;
  width: 270px;
  margin: auto;
  padding-bottom: 10px;
}

.blog-image {
  height: 200px;
  background-size: cover;
  background-position: center top;
}

/* Blog post page */

.blogpost-page,
.aboutpage {
  max-width: 800px;
  margin: 0 auto;
}

.blogpost-page h1 {
  text-align: center;
}

.blogpost-image,
.aboutpage img {
  height: 250px;
  display: block;
  margin: auto;
}

.blogpost p,
.aboutpage p {
  max-width: 600px;
  padding: 20px;
  margin: auto;
}

.modal-container {
  display: none;
  position: fixed;
  flex-direction: column;
  inset: 0;
  align-items: center;
  padding-top: 40px;
}

.modal-image {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 9000px;
}

/* Contact page */

.contact-container {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.contact-container h1 {
  text-align: center;
}

form {
  padding: 20px 0 20px;
}

input {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  background-color: #e0ede6;
  border: solid 1px #276d57;
}

.form-error {
  display: none;
  color: #c8310f;
  font-size: 0.9rem;
  margin-top: 2px;
}

/* About page */

.quick-facts {
  width: 300px;
  margin: auto;
  background-color: #e0ede6;
  margin-bottom: 30px;
}

.quick-facts img {
  align-self: center;
  width: 100%;
  height: 100%;
}

.quick-facts h2 {
  text-align: center;
  margin: 10px auto 0;
  font-weight: 400;
}

@media (min-width: 800px) {
  /* Home page */

  header label {
    display: none;
  }
  nav {
    display: inline-flex;
    position: static;
  }

  nav ul {
    display: flex;
    top: 0px;
    max-width: 100%;
    grid-column: 2;
    justify-self: center;
  }

  .logo-text {
    display: inline-flex;
    align-self: center;
    padding-left: 10px;
    align-self: center;
  }

  .menu {
    width: 100%;
    display: flex;
  }
  .logo {
    padding-left: 20px;
  }

  /* Blogpost page*/

  .blogpost-image {
    height: 550px;
  }

  .modal-image {
    width: 80%;
  }

  /* Contact page */

  .contact-container {
    width: 400px;
  }

  .aboutpage img {
    width: 100%;
    height: 100%;
  }

  /* About page */

  .about-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
  }
}
